<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HR_Project.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="HR_Project.Properties.Settings.HR_DatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\HR Database.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="HR_Project.Properties.Settings.HR_DatabaseConnectionString1"
            connectionString="Data Source=SAMRUDDHI\SQLEXPRESS01;Initial Catalog=HR_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>